# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-16.04'

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'
    
- script: |
    docker run instrumentisto/nmap -A -T4 localhost > results.txt
    
- script: |
    cat results.txt

- script: |
    docker run -d --name tmp-container --entrypoint=tail ubuntu-16.04 -F junk docker exec -t tmp-container apk update docker exec -t tmp-container apk add git docker exec -t tmp-container git clone https://github.com/CISOfy/lynis docker exec -t --workdir=/lynis --env LANGUAGE=en --env LANG=en --env _=none tmp-container ./lynis audit system --no-colors
    
- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
